<template>
  <b-row class="problem">
    <b-col cols="12" sm="12" lg="5" class="problem-right">
      <b-img
        src="@/assets/pages/landing-page-AU/problem/icons-like.svg"
        fluid
      />
      <p class="problem-description">
        If you are encountering the same problems with our advertisers
      </p>
      <div class="problem-button">
        <b-button
          class="btn font-semibold">
            Get in touch with us
        </b-button>
        <p class="btn-text font-regular ">to get free consultation.</p>
      </div>
    </b-col>
    <b-col cols="12" lg="6">
      <b-img
      class="problem-left"
      src="@/assets/pages/landing-page-AU/problem/img.png"
      fluid
      />
    </b-col>
  </b-row>
</template>
<script>
export default {
  name: 'ProblemContent',
  components: {

  },
  data() {
    return {
    }
  },
}
</script>
<style lang="scss" scoped>
.problem {
  background-color: #000;
  display: flex;
  padding: 117px 108px 134px;
  color:#fff;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    margin-top: 87px;
    flex-direction: column;
    padding: 57px 16px 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    flex-direction: column;
    padding: 66px 24px 134px;
  }
  @media screen and (min-width: 1537px) {
    padding: 66px 300px 134px;
  }
  .problem-right {
    @media screen and (max-width: 767px) {
      margin: 0px;
    }
    .problem-description {
      font-style: normal;
      font-weight: 700;
      font-size: 68px;
      line-height: 72px;
      margin: 32px 0px 56px;
      @media screen and (max-width: 767px) {
        font-size: 48px;
        line-height: 56px;
      }
    }
    .problem-button {
      display: flex;
      @media screen and (max-width: 767px) {
        flex-direction: column;
      }
      .btn {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-right: 20px;
        padding: 12px 16px;
        gap: 10px;
        border-color: #E11C4E;
        background: #E11C4E;
        border-radius: 100px;
        @media screen and (max-width: 767px) {
          width: max-content;
        }
      }
      .btn-text {
        align-self: center;
        font-size: 20px;
        line-height: 28px;
        @media screen and (max-width: 767px) {
          align-self: start;
          margin-top: 20px;
        }
      }
    }
  }
  // .problem-left {
  //   max-width: 737px;
  //   max-height: 706px;
  //   @media screen and (max-width: 767px)  {
  //     margin-top: 42px;
  //     margin-bottom: 50px;
  //   }
  // }
}

</style>
