<template>
  <div class="header">
      <div class="header-top">
        <div class="header-top-pc">
          <div class="header-logo">
            <b-img
              src="@/assets/pages/landing-page-AU/logo/ecomdy-media.svg"
              fluid
            />
          </div>
          <div class="header-right">
            <!-- <button class="btn btn-login">Login</button> -->
            <b-button class="btn btn-join" href="https://tiktok.ecomdymedia.com/register?refcode=68918" >Join now</b-button>
          </div>
        </div>
        <div class="header-top-mobile">
          <div class="header-logo">
            <b-img
              class="logo-ecomdy"
              src="@/assets/pages/landing-page-AU/logo/ecomdy-media-partner.svg"
              fluid
            />
            <!-- <button class="btn btn-login">Login</button> -->
            <b-button
              href="https://tiktok.ecomdymedia.com/register?refcode=68918"
              class="btn btn-join">
                Join now
            </b-button>
          </div>
          <hr style="height: 1px; background-color: rgba(255, 255, 255, 0.1);">
          <b-img
              src="@/assets/pages/landing-page-AU/logo/tiktok.svg"
              fluid
            />
        </div>

        <div  class="header-content">
          <b-row class="header-text">
            <b-col cols="12" lg="5" class="header-title font-bold">
              Ecomdy Media - The best official TikTok Agency for Ecommerce.
            </b-col>
            <b-col cols="12" lg="6" class="header-text-content">
              <p class="header-description font-regular">
                We help scale your brands with Tiktok marketing and advertising by utilising the viral growth, TikTok advertising platform and the ability to get your business in front of millions.
              </p>
              <div class="button-demo">
                <b-button
                href="https://tiktok.ecomdymedia.com/register?refcode=68918"
                variant="danger"
                  class="btn-start">
                  Getting Started
                </b-button>
                <b-button
                  class="btn-demo"
                  variant="outline-dark"
                >
                  Live Chat
                </b-button>
              </div>
            </b-col>
          </b-row>

          <div class="video">
            <video
              v-if="showFSButton"
              ref="catpic" class="background-video" autoplay
              muted
              loop
            >
            <!-- @click="fullscreenCats" -->
              <source src="@/assets/video/video-ads.webm" type="video/webm">
              <source src="@/assets/video/video-ads.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>


        </div>
      </div>
    </div>
</template>
<script>

export default {
  name: 'HeaderPage',
  components: {

  },
  data() {
    return {
      showFSButton:false
    }
  },
  computed: {
	},
  created() {
    // eslint-disable-next-line nuxt/no-globals-in-created
    if(document.fullscreenEnabled) this.showFSButton = true;
  },
  methods:{
    fullscreenCats() {
      this.$refs.catpic.requestFullscreen();
    }
  }
}
</script>
<style lang="scss" scoped>
[v-cloak] {display: none}

.video-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .video-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: black;
        @media screen and (min-width: 400px) {
            width: 3vw;
            height: 3vw;
            border: 20px solid #FFF;
            transform: rotateZ(-5deg);
        }
    }
    .video-player {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
        @media screen and (min-width: 400px) {
            left: 50%;
            top: 0;
            width: auto;
            height: 100vh;
            transform: translateX(-50%);
        }
    }
    &.video-wrap--show {
        pointer-events: auto;
        .action--close {
            opacity: 1;
            transform: scale3d(1, 1, 1);
            transition-delay: 1200ms;
        }
        .video-inner {
            opacity: 1;
        }
        @media screen and (min-width: 400px) {
            .video-inner {
                opacity: 0;
                animation: showVideo 1250ms forwards;
            }
        }
    }
    &.video-wrap--hide {
        @media screen and (min-width: 400px) {
            .video-inner {
                animation: hideVideo 1250ms forwards;
            }
        }
    }
}
.content {
	position: relative;
    .loader {
        font-size: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        transition: opacity 300ms;
        .video-loaded & {
            opacity: 0;
            pointer-events: none;
        }
    }
}
.action {
    background: none;
	border: 2px solid #FFF;
	border-radius: 4rem;
    flex: none;
    margin: 0;
    padding: 1rem 2rem;
    color: #FFF;
	font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
	position: relative;
    &.action--play {
        display: block;
        margin: 1rem auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms;
        .video-loaded & {
        	opacity: 1;
	        pointer-events: auto;
        }
    }
    &.action--close {
        position: absolute;
        z-index: 1000;
        top: 30px;
        right: 30px;
        width: 60px;
        height: 60px;
        padding: 0;
        opacity: 0;
        transform: scale3d(0.7, 0.7, 1);
        transition: transform 300ms, opacity 300ms;
    }
    .action__label {
        display: inline-block;
        margin: 0 0 0 0.75rem;

        &.action__label--hidden {
            position: absolute;
            top: 100%;
        }
    }
}
@keyframes showVideo {
	50% {
		width: 25vw;
		height: 25vw;
		opacity: 1;
		transform: rotateZ(-5deg);
	}
	100% {
		width: 100vw;
		height: 100vh;
		opacity: 1;
		transform: rotateZ(0deg);
	}
}
@keyframes hideVideo {
	0% {
		width: 100vw;
		height: 100vh;
		opacity: 1;
		transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
	}
	100% {
		width: 100vw;
		height: 100vh;
		opacity: 0;
		transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
	}
}




.header {
  background-color: #fff;
  height: max-content;
  color: #000;
  .header-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header-top-pc {
      // position: fixed;
      z-index: 5;
      width: 100%;
    }
  }
  .video {
      .background-video{
        /* Span the full grid */
        grid-area: var(--fullGrid);
        /* Re-size video to cover full screen while maintaining aspect ratio */
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }

      @keyframes mouse{
        0%,20%,50%,80%,100%{
          transform:translateY(85vh);
          -webkit-transform:translateY(85vh);
          -ms-transform:translateY(85vh);
          -o-transform:translateY(85vh);
          -moz-transform:translateY(85vh)
          }
          40%{
            transform:translateY(70vh);
            -webkit-transform:translateY(70vh);
            -ms-transform:translateY(70vh);
            -o-transform:translateY(70vh);
            -moz-transform:translateY(70vh)
          }
          60%{
            transform:translateY(75vh);
            -webkit-transform:translateY(75vh);
            -ms-transform:translateY(75vh);
            -o-transform:translateY(75vh);
            -moz-transform:translateY(75vh)
          }
        }
      .pause {
        animation: mouse 3s infinite;
        //  transform: translateY(-65px);
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        width: 100%;
      }
      .pause:hover {
        cursor: pointer;
      }
  }
}
  .header-top-mobile {
      display: none;
    }
  .header-top-pc {
    padding: 28px 108px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding: 28px 24px;
    }
    @media screen and (min-width: 1537px){
      padding: 54px 300px;
    }
    .header-logo {

    }
    .header-right {
      .btn {
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;
        color: #000;
        padding: 9px 34.5px;
        border-radius: 100px;
        gap: 10px;
      }
      .btn-login {
      }
      .btn-join {
        background-color: #EFEFEF;
      }
    }
  }

  @media(max-width: 740px){/*739px*/
    .header-top {
      display: block !important;
    }
    .header-top-pc {
      display: none;
    }
    .header-top-mobile {
      display: block;
      padding: 29px 16px 0px;
      .header-logo {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0px;
        gap: 15px;
        .btn {
          font-size: 18px;
          font-weight: 700;
          line-height: 28px;
          color: #000;
          padding: 9px 34.5px;
          border-radius: 100px;
          gap: 10px;
        }
        .btn-join {
          background-color: #EFEFEF;
        }
      }
    }
    .header-content {
    //   .header-text {
    //     .header-title {
    //       font-size: 48px;
    //       line-height: 112%;
    //     }
    //     .header-description {
    //       margin: 0px;
    //       font-size: 20px;
    //       line-height: 160%;
    //     }
    //     .button-demo {
    //       flex-wrap: wrap;
    //       gap: 10px;
    //       flex-direction: row;
    //       .btn {
    //         width: max-content;
    //       }
    //     }
    //   }
    }
  }

.header-content {
  height: max-content;
  .header-text {
    display: flex;
    justify-content: space-between;
    margin: 179px 108px;
    @media screen and (max-width: 767px) {
      margin: 62px 16px 81px;
      flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      margin: 179px 24px;
      flex-direction: column;
      text-align: center;
    }
    @media screen and (min-width: 1537px){
      margin: 179px 300px;
    }
    .header-title {
      font-size: 68px;
      line-height: 112%;
      @media screen and (max-width: 767px) {
        font-size: 48px;
        line-height: 117%;
      }
    }
    .header-text-content {
      .header-description {
        // margin: 24px 105.5px 0px;
        font-size: 24px;
        line-height: 167%;
        @media screen and (max-width: 767px) {
          margin-top: 20px;
          font-size: 20px;
          line-height: 160%;
        }
      }
      .button-demo {
        display: flex;
        justify-content: left;
        gap: 12px;
        margin-top: 48px;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          // width: 40%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px){
          justify-content: center;
        }
        .btn {
          color: #000;
          font-size: 18px;
          line-height: 28px;
          padding: 15px 43px;
          border-radius: 100px;
          width: 38%;
          &:hover {
            color: #fff;
          }
          @media screen and (max-width: 767px)  {
            width: 70%;
          }
          @media screen and (min-width: 768px) and (max-width: 991px) {

          }
        }
        .btn-start {
          color: #fff ;
          background-color: #E11C4E;
          border-color: #E11C4E;
          &:hover {
            color: #E11C4E;
            background-color: #fff;
          }
        }
      }
    }
  }
}
// @media(max-width: 740px){/*739px*/

</style>
