<template>
  <b-form @submit="onSubmit" @reset="onReset">

    <b-form-group
      id="input-group-1"
      label="Email address:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="form.email"
        type="email"
        placeholder="Enter email"
        required
      ></b-form-input>
    </b-form-group>

    <b-form-group
      id="input-group-1"
      label="Password:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="form.password"
        type="password"
        placeholder="Enter password"
        required
      ></b-form-input>
    </b-form-group>

    <b-button type="submit" variant="primary">Submit</b-button>
    <b-button type="reset">Cancel</b-button>

    <p @click="signInWithGoogle">login by google</p>
  </b-form>
</template>

<script>
import { BForm, BFormGroup,BFormInput } from 'bootstrap-vue'

export default {
  name: 'SignInPage',
  
  components: {
    BForm,
    BFormGroup,
    BFormInput
  },

  data() {
    return {
      form: {
        email: '',
        name: '',
        password: '',
      }
    }
  },

  methods: {
    async signInWithGoogle() {
        const provider = new this.$fireModule.auth.GoogleAuthProvider();
       // You can add or remove more scopes here provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
       try {
        const data = await this.$fire.auth.signInWithPopup(provider)

        // create user from google account
        const db = this.$fire.firestore;
        db.collection('users')
        .doc(data.user.uid)
        .set({
          email: data.user.email,
          photoURL: data.user.photoURL,
          name,
          role: 'user'
          })
        .then(() => {
          console.log('user updated!')
        })

        db.collection('users')
        .doc(data.user.uid)
        .get()
        .then((doc) => {
          if (doc.exists) {
            console.log(doc.data())
          }
        })


        this.$router.push('/google.com')
       } catch (error) {
         console.log(error)
       }
        
    },

    async onSubmit(e) {
      e.preventDefault();

      const { email, password } = this.form;

      try {
        const data = await this.$fire.auth.signInWithEmailAndPassword(email, password)

        const db = this.$fire.firestore;
        db.collection('users')
        .doc(data.user.uid)
        .get()
        .then((doc) => {
          if (doc.exists) {
            console.log(doc.data())
          }
        })
      } catch (error) {
        console.log(error)
      }
    },

    onReset() {}
  }
}
</script>
