<template>
  <b-form @submit="onSubmit" @reset="onReset">
    <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
      <b-form-input
        id="input-2"
        v-model="form.name"
        placeholder="Enter name"
        required
      ></b-form-input>
    </b-form-group>

    <b-form-group
      id="input-group-1"
      label="Email address:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="form.email"
        type="email"
        placeholder="Enter email"
        required
      ></b-form-input>
    </b-form-group>

    <b-form-group
      id="input-group-1"
      label="Password:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="form.password"
        type="password"
        placeholder="Enter password"
        required
      ></b-form-input>
    </b-form-group>

    <b-form-group
      id="input-group-1"
      label="Re-Password:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="form.password"
        type="password"
        placeholder="Enter re-password"
        required
      ></b-form-input>
    </b-form-group>

    <b-button type="submit" variant="primary">Submit</b-button>
    <b-button type="reset" variant="danger">Reset</b-button>
  </b-form>
</template>

<script>
import { BForm, BFormGroup,BFormInput } from 'bootstrap-vue'

export default {
  name: 'SignUpPage',
  
  components: {
    BForm,
    BFormGroup,
    BFormInput
  },

  data() {
    return {
      form: {
        email: '',
        name: '',
        password: '',
      }
    }
  },

  methods: {
    async onSubmit(e) {
      e.preventDefault();
      const { email, password, name } = this.form;
      try {
        const authData = await this.$fire.auth.createUserWithEmailAndPassword(email, password)
        console.log(name)
        console.log(authData)

        const { user } = authData

        const db = this.$fire.firestore;
        db.collection('users')
        .doc(user.uid)
        .set({
          email: user.email,
          photoURL: user.photoURL,
          name,
          role: 'user'
          })
        .then(() => {
          console.log('user updated!')
        })
      } catch (error) {
        console.log(error)
      }
    },


    onReset() {
      const db = this.$fire.firestore;
      console.log(db)
    }
  },



// create user collection


// const db = this.$fire.firestore;
// db.collection('users')
// .doc('123')
// .set({name: "123"})
// .then(() => {
//   console.log('user updated!')
// })
}
</script>