<template>
  <div class="about-us">
    <b-row class="about-us-first">
      <b-col cols="12" lg="6">
        <b-img
          class="img-about-us"
          src="@/assets/pages/landing-page-AU/about-us/img-choose-us.svg"
          fluid
        />
      </b-col>
      <b-col cols="12" lg="5" class="about-us_text">
        <p class="about-us_subtitle font-regular">
          Why choose us
        </p>
        <p class="about-us_title font-bold">
          Ecomdy Media is so good at what we offer.
        </p>
        <p class="about-us_description">
          We are one of the leading official partners of TikTok offering TikTok Advertisting solution globally.
        </p>
        <b-row class="explore">
          <b-col cols="auto" class="explore-text">Explore more</b-col>
          <b-col class="icon-next">
            <b-img
              src="@/assets/pages/landing-page-AU/icons/icon-next.svg"
              fluid
            />
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row class="about-us_list-img">
      <b-col cols="12" class="list-img-title">Our TikTok Agency Ad account</b-col>
      <b-col cols="12" md="6" lg="3"
        v-for="(data, index) in listImgAbout"
        :key="index"
        class="about-us_img">
        <b-img
          class="img"
          :src="data.img"
          fluid
        />
        <p class="img-text">
          {{data.text}}
        </p>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  name: 'AboutUs',
  components: {

  },
  data() {
    return {
      listImgAbout: [
        {img: require('@/assets/pages/landing-page-AU/about-us/img-Worldwide-targeting.svg'), text: 'Worldwide targeting'},
        {img: require('@/assets/pages/landing-page-AU/about-us/img-Unlimited-Spending.svg'), text: 'Unlimited Spending'},
        {img: require('@/assets/pages/landing-page-AU/about-us/img-VPN.svg'), text: 'No VPN, No Business License required'},
        {img: require('@/assets/pages/landing-page-AU/about-us/img-Early-access-newest.svg'), text: 'Early access newest Alpha and Beta testing feature on TikTok'},
      ]
    }
  },
}
</script>
<style lang="scss" scoped>
.about-us {
  margin: 121px 108px 140px;
  @media screen and (max-width: 767px) {
    margin: 61px 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin: 121px 24px 140px;
  }
  @media screen and (min-width: 1537px) {
    margin: 121px 300px 140px;
  }
  .about-us-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: 0px 109px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      flex-direction: column;
    }
    .img-about-us {
      // max-width: 668.68px;
      // max-height: 619px;
      margin-right: 156px;
      @media screen and (max-width: 767px) {
        // max-width: 375.35px;
        // max-height: 347.46px;
        margin-right: 0px;
      }

    }
    .about-us_text {
      .about-us_subtitle {
        font-size: 24px;
        line-height: 32px;
        @media screen and (max-width: 767px) {
          margin-top: 68px;
        }
        @media screen and (min-width: 768px) and (max-width: 991px) {
          margin-top: 68px;
        }
      }
      .about-us_title {
        margin: 12px 0px 32px;
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        @media screen and (max-width: 767px) {
          font-size: 48px;
          line-height: 56px;
        }
      }
      .about-us_description {
        font-size: 32px;
        line-height: 50px;
        @media screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 32px;
        }
      }
      .explore {
        align-items:flex-end;
        margin-top: 32px;
        .explore-text {
          font-size: 32px;
          line-height: 40px;
          font-weight: 500;
          @media screen and (max-width: 767px) {
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
    }
  }

  .about-us_list-img {
    margin-top: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 767px)  {
      flex-direction: column;
    }
    .list-img-title {
      width:100%;
      text-align: center;
      font-size: 40px;
      font-weight: 500;
      line-height: 48px;
      /* identical to box height, or 156% */
      @media screen and (max-width: 767px)  {
        font-size: 32px;
        line-height: 40px;
      }
    }
    .about-us_img {
      margin-top: 64px;
      width: 24%;
      text-align: center;
      justify-content: space-between;
      @media screen and (max-width: 767px) {
        margin-top: 24px;
        width: 100%;
        margin-bottom: 40px;
        text-align-last: center;
      }
      @media screen and (min-width: 768px) and (max-width: 991px) {
        width: 49%;
      }
      .img {
        max-height: 351px;
      }
      .img-text {
        margin-top: 36px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
        @media screen and (max-width: 767px)  {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }


  }

}
</style>
