<template>
  <div class="landing-page">
    <header-page/>
    <body-content/>
    <footer-content />
  </div>
</template>
<script>
import headerPage from './header'
import bodyContent from './body'
import footerContent from './footer'
export default {
  name: 'LandingPageAU',
  components: {
    headerPage,
    bodyContent,
    footerContent,
  }
}
</script>
<style lang="scss" scoped>
  .landing-page{
    background-color: #fff;
  }
</style>
