<template>
  <div class="evaluation">
    <div class="evaluation-slide">
      <p class="evaluation-title">Our trusted clients</p>
      <swiper
        class="swiper swiper-parallax"
        :options="swiperOption"
      >
        <swiper-slide
          v-for="(slide, index) in listEvaluation"
          :key="index"
        >
          <div class="slide-info">
              <b-avatar
                v-if="slide.img !== ''"
                class="slide-avatar"
                size="64px"
                variant="light-success"
                :src="slide.img"
              />
              <div v-else class="avatar-empty">
                <p>{{slide.name.charAt(0)}}</p>
              </div>
              <p class="slide-name font-semibold">{{ slide.name }}</p>
            </div>
            <div v-if="slide.eval === 1" class="evaluation-star">
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
            </div>
            <div v-if="slide.eval === 2" class="evaluation-star">
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
            </div>
            <div v-if="slide.eval === 3" class="evaluation-star">
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
            </div>
            <div v-if="slide.eval === 4" class="evaluation-star">
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
            </div>
            <div v-if="slide.eval === 5" class="evaluation-star">
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
              <b-img
                fluid
                src="@/assets/pages/landing-page-AU/icons/icon-star.svg"
              />
            </div>
            <a class="slide-title font-semibold" href="https://www.trustpilot.com/review/ecomdymedia.com">{{slide.title}}</a>
            <p class="slide-description">{{ slide.description }}</p>
        </swiper-slide>
        <b-img
          slot="button-prev"
          class="swiper-button-prev btn-end swiper-button-prev-1"
          fluid
          src="@/assets/pages/landing-page-AU/evaluation/button-prev.svg"
          alt="logo"
        />
        <b-img
          slot="button-next"
          class="swiper-button-next btn-end swiper-button-next-1"
          fluid
          src="@/assets/pages/landing-page-AU/evaluation/button-next.svg"
          alt="logo"
        />
      </swiper>
    </div>
  </div>
</template>
<script>
import 'swiper/css/swiper.css'
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
export default {
  name: 'EvaluationContent',
  components: {
    Swiper,
    SwiperSlide,
  },
  data() {
    return {
      listEvaluation: [
            {
              img: '',
              eval: 5,
              name: 'Abdessad LTD',
              title: 'My experience with Ecomdy is perfect so…',
              description:
                `My experience with Ecomdy is perfect so far .. Quick and efficient in there reply .. guys from morocco, don't hesitate ..
                Thank you guys, especialy the guy or the girl who helped me seting up my new account.`,
            },
            {
              img: "",
              eval: 5,
              name: 'abdelkarim ait ssihamou',
              title: 'Great support',
              description:
                'Great support, responsive, I recommend everyone to deal with them',
            },
            {
              img: "",
              eval: 5,
              name: 'Muhammad Masood',
              title: 'Its Muhammad Masood',
              description:
                `Am working alot on Ecomdy Media as TikTok marketer and advertisers.
                And faces alot of issues, so I didn't worry about it because the Ecomdy media supporter help me alot and solved my all issues, I always thankful to this platform and the person who help me very well.`,
            },
            {
              img: "Zakaria Bakri",
              eval: 5,
              name: 'Zakaria Bakri',
              title: 'I am very satisfied of your customer…',
              description:
                'I am very satisfied of your customer service',
            },
            {
              img: "",
              eval: 5,
              name: 'Nabil',
              title: 'very good and profesional service',
              description:
                'very good and profesional service, outstanding online support. thanks Ecomdymedia',
            },
            {
              img: "",
              eval: 5,
              name: 'Olivia Queen',
              title: 'They are so helpful.',
              description:
                'ecomedy is the right platform for Tiktok advertising. They are so helpful. They provide the good information.',
            },
            {
              img: "",
              eval: 5,
              name: 'John Wick',
              title: 'i have been working with ecomdymedia…',
              description:
                `i have been working with ecomdymedia since last year
                very good services and helpfull support
                recommad for every one who wants to star tiktok ads`,
            },
            {
              img: "",
              eval: 5,
              name: 'Moeen Azzam',
              title: 'Perfect they help me to run ads on…',
              description:
                'Perfect they help me to run ads on tiktok for my brand',
            },
            {
              img: "",
              eval: 5,
              name: 'Youssef BC',
              title: 'The support was very useful and fast',
              description:
                'The support was very useful and fast, I created and set up everything smoothly thanks to the very fast reponses from the support members.',
            },
            {
              img: "",
              eval: 5,
              name: 'Rolush Limited',
              title: 'Rachel Thanks a lot for your support',
              description:
                `I've been working with Rachel for quite some time and I would say she has been supportive throughout the process. Guided me on a daily basis (almost 24/7). I would definitely recommend her services and ecomdy as well.`
            },
            {
              img: "",
              eval: 5,
              name: 'Denise Fernandes',
              title: 'Super accessible professionals willing to help',
              description:
                'Super accessible professionals willing to help! I just have to thank you for your support and attention. Gratitude!',
            },
            {
              img: "",
              eval: 5,
              name: 'Bảo ShineOn',
              title: 'Great company',
              description:
                'Great company, great people.',
            },
      ],
      swiperOption: {
        slidesPerView: 3,
        slidesPerColumn: 2,
        spaceBetween: 30,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        breakpoints: {
          300: {
            slidesPerView: 1,
            slidesPerColumn: 2,
            spaceBetween: 20,
          },
          767: {
            slidesPerView: 1,
            slidesPerColumn: 2,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 2,
            slidesPerColumn: 2,
            spaceBetween: 40,
          },
          992: {
            slidesPerView: 2,
            slidesPerColumn: 2,
            spaceBetween: 40,
          },
          993: {
            slidesPerView: 3,
            slidesPerColumn: 2,
            spaceBetween: 30,
          },
        },
      },

    }
  },
  mounted() {
    window.addEventListener('resize', this.handleResize)
    this.handleResize()
  },

  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },
  methods: {
    handleResize() {
      if (window?.innerWidth < 767) {
        this.swiperOption.slidesPerView = 1
        this.swiperOption.slidesPerColumn = 2
      } else if (window?.innerWidth < 991 && window?.innerWidth > 768) {
        this.swiperOption.slidesPerView = 1
        this.swiperOption.slidesPerColumn = 2
      } else {
        this.swiperOption.slidesPerView = 3
        this.swiperOption.slidesPerColumn = 2
      }
    },
  }
}
</script>
<style lang="scss" scoped>
 a {
   color: #000;
 }
.swiper-button-prev-1 {
  left: 40%;
  top: 5%;
  bottom: 17%;
  width: 100%;
  @media screen and (max-width: 767px)  {
    width: 15%;
    left: -3%;
    top: 11%;
  }
}
.swiper-button-next-1 {
  top: 5%;
  bottom: 17%;
  width: 7%;
  @media screen and (max-width: 767px) {
    width: 15%;
    top: 11%;
    left: 15%;
  }
}

.evaluation {
  margin: 68px 108px 0px;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    margin: 59px 16px 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    margin: 68px 24px 0px;
  }
  @media screen and (min-width: 1537px) {
    margin: 68px 300px 0px;
  }
  .evaluation-title {
    position: absolute;
    // width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .evaluation-slide {
    .swiper {
      padding-top: 104px;
      ::v-deep .swiper-wrapper {
        flex-direction: row !important;
      }
      .swiper-slide {
        margin-top: 30px;
        flex-direction: column;
      }
    }
    .swiper-wrapper {

    }
    .swiper-slide {
      display: flex;
      flex-wrap: wrap;
        align-items: flex-start;
        padding: 32px;
        border: 1px solid rgba(22, 33, 62, 0.1);
        border-radius: 32px;
        margin-top: 28px;
        min-height: 400px;
        .slide-info {
          display: flex;
          .slide-avatar {
          }
          .avatar-empty {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            background-color: rgba(29, 185, 195, 0.1);
            width: 64px;
            height: 64px;
            border-radius: 100px;
            text-align: center;
            text-transform: uppercase;
          }
          .slide-name {
            margin-left: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 140%;
            display: flex;
            align-items: center;
          }
        }
        .evaluation-star {
          margin-top: 24px;
        }
        .slide-title {
          margin-top: 16px;
        }
        .slide-description {
          margin-top: 12px;
          white-space: pre-line;
        }
    }
  }
}
</style>
